{% load static %}

<html>
    <head>
        <title>Django View Results of Docker</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/docker_ps.css' %}">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>

    <body>

        <div class="docker-ps">
            <h1><a href="/">Docker View</a></h1>
            <h1><a href="/?a=1">-a (オプション表示)</a></h1>
        </div>

        <div class="view-Results">
            {% block content %}
            {% endblock %}
        </div>

    </body>

</html>