{% extends 'tail_docker_ps/base.html' %}

{% block content %}

<table class="layout-table01">

  <tr>
      <td><p><samp>CONTAINER ID</samp></p></td>
      <td><p>IMAGE</p></td>
      <td><p>NAME</p></td>
      <td><p>PORT</p></td>
      <td><p>tail</p></td>
  </tr>
  <!-- コンテナ詳細を表示する -->
  
  <tr>
      <td>{{ CONTAINER_ID }}</td>
      <td>{{ IMAGE }}</td>
      <td>{{ NAME }}</td>
      <td>{{ PORT }}</td>
      <td><form action="" method="get">
        <select name="tail">
          <option value="">--{{ tail }}--</option>
          <option value="1">1</option>
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="40">40</option>
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="150">150</option>
        </select><input type="submit" value="送信"></form></td>
  </tr>
  


</table>
<!-- rows="30" cols="100"-->
<textarea id="console" style="width:100%;height:75%" readonly></textarea>
<script>
    $(function() {
      let ES = new EventSource(
        "{% url 'logs_detail' container_id %}?tail={{ tail }}"
      );
      ES.onmessage = function(e) {
        $('#console').append(`${e.data}\n`);
        $('#console').scrollTop(
          $('#console')[0].scrollHeight - $('#console').height()
        );
      };
    });
</script>
 
{% endblock %}