{% extends 'tail_docker_ps/base.html' %}

{% block content %}
<table class="layout-table01">
    <colgroup span='1' class="container_id"></colgroup>
    <colgroup span='2' class="container_image"></colgroup>
    <colgroup span='3' class="container_command"></colgroup>
    <colgroup span='4' class="container_created"></colgroup>
    <colgroup span='5' class="container_status"></colgroup>
    <colgroup span='6' class="container_ports"></colgroup>
    <colgroup span='7' class="container_names"></colgroup>

    <tr>
        <td><p><samp>CONTAINER ID</samp></p></td>
        <td><p>IMAGE</p></td>
        <td><p>COMMAND</p></td>
        <td><p>CREATED</p></td>
        <td><p>STATUS</p></td>
        <td><p>PORTS</p></td>
        <td><p>NAMES</p></td>
    </tr>

    
    <!-- Docker で起動中のコンテナを表示する -->
    {% for ps_all in ps_all_list %}
        <tr>
            <!-- <samp> を用いることで idの表示を揃えている -->
            <td><a href="{% url 'index' container_id=ps_all.CONTAINER_ID %}" rel="noopener noreferrer"><samp>{{ ps_all.CONTAINER_ID }}</samp></a></td>
            <td>{{ ps_all.IMAGE }}</td>
            <td>"{{ ps_all.COMMAND }}"</td>
            <td>{{ ps_all.CREATED }}</td>
            <td>{{ ps_all.STATUS }}</td>
            <td>{{ ps_all.PORT }}</td>
            <!-- コンテナIDを tail_docker_ps\urls.py の　name='logs_detail' があるURL処理に渡し、  -->
            <!-- 戻り値として docker_logs/<str:container_id>/ を作成し返却する -->
            <td><a href="{% url 'index' container_id=ps_all.CONTAINER_ID %}" rel="noopener noreferrer">{{ ps_all.NAME }}</a></td>
        </tr>
    {% endfor %}
    
</table>
{% endblock %}
