{% extends 'tail_docker_ps/base.html' %}

{% block content %}
<table class="layout-table01">

    <tr>
        <td><p><samp>CONTAINER ID</samp></p></td>
        <td><p>IMAGE</p></td>
        <td><p>COMMAND</p></td>
        <td><p>CREATED</p></td>
        <td><p>STATUS</p></td>
        <td><p>PORTS</p></td>
        <td><p>NAMES</p></td>
    </tr>

    
    <!-- Docker で起動中のコンテナを表示する -->
    {% for docker_ps in docker_ps_list %} 
        <tr>
            <!-- <samp> を用いることで idの表示を揃えている -->
            <td><a href="/?id={{ docker_ps.CONTAINER_ID }}" rel="noopener noreferrer"><samp>{{ docker_ps.CONTAINER_ID }}</samp></a></td>
            <td>{{ docker_ps.IMAGE }}</td>
            <td>"{{ docker_ps.COMMAND }}"</td>
            <td>{{ docker_ps.CREATED }}</td>
            <td>{{ docker_ps.STATUS }}</td>
            <td>{{ docker_ps.PORT }}</td>
            <!-- コンテナIDを tail_docker_ps\urls.py の　name='logs_detail' があるURL処理に渡し、  -->
            <!-- 戻り値として docker_logs/<str:container_id>/ を作成し返却する -->
            <td><a href="/?id={{ docker_ps.CONTAINER_ID }}" rel="noopener noreferrer">{{ docker_ps.NAME }}</a></td>
        </tr>
    {% endfor %}
    
</table>
{% endblock %}
