{% extends 'tail_docker_ps/base.html' %}

{% block content %}
    <p class="docker-ps-list"> CONTAINER_ID <span style="margin-right: 24px;"></span> NAMES </p>

    <!-- Docker で起動中のコンテナを表示する -->>
    {% for docker_ps in docker_ps_list %}
        <!-- コンテナIDを tail_docker_ps\urls.py の　name='logs_detail' があるURL処理に渡し、  -->
        <!-- 戻り値として docker_logs/<str:container_id>/ を作成し返却する -->
        <p><a href="{% url 'index' container_id=docker_ps.CONTAINER_ID %}" rel="noopener noreferrer" >{{ docker_ps.CONTAINER_ID }} <span style="margin-right: 24px;"></span> {{ docker_ps.NAME }}</a></p>
    {% endfor %}

{% endblock %}
